/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Progress bar
progress {
  // Positioning
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;

  // Dimensions
  width: 100%;
  height: 5px;
}

.progress-container {
  display: block;
  position: fixed;
  left: 0;
  top: 56px;
  width: 100%;
  height: 5px;
}

.progress-bar {
  display: block;
  width: 0%;
  height: inherit;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
