---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.last_name }} <nobr><small>({{ site.ja_name }})</small></nobr>
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
      <div class="social">
        <div class="contact-icons" style="font-size: 1.7rem;">
          {% include social.html %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
  </article>
</div>
